// Variables
$bg-color: #FE4600;
$header-bg: #4B3E35;
$font-color: #ffffff;
$hover-color: #FFD700;
$font-family: "Inconsolata", monospace;
$table-border: 1px solid $font-color;
$table-even-bg: rgba(255, 255, 255, 0.1);
